<div class="header">
  <img class="logo" alt="Metavserse Logo" src="/assets/logo.png">
  <h1>Free Testnet DNA</h1>
</div>
<p>Metaverse DNA Testnet faucet is a place to get free testnet DNA to be used for developing and testing applications on the DNA testnet without having to use real DNA on the mainnet. </p>
<request-form></request-form>
<p>Please return the DNA to <span class="break-all"><a href="https://testnet.mvsdna.info/#/accountDetails?account={{myAddress}}">{{myAddress}}</a></span> if you dont need them anymore. Thank you. </p>
<p>Note: these test tokens have no real value and will only work on the testnet!</p>
<p>For information on how to use the testnet see <a href="https://docs.dexdev.mvsdna.info">docs.dexdev.mvsdna.info</a>
<balance></balance>
<history></history>
